.LimitText {
    font-size: 1.3rem;
    color: whitesmoke;
}

.GeneralButton {
    border: none;
    color: white;
    padding: 1em 3em;
    font-size: 1.2rem;
    line-height: 0;
    transition: .2s ease;
    margin: 3em 0;
}

.GeneralButton:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.GeneralButton:active {
    filter: brightness(.8);
}

.DeleteButton {
    background-color: #cf5e7b;
    border-radius: 0 50rem 50rem 0;
}

.ShowAllButton {
    background-color: #1fa7a0;
    border-radius: 50rem 0 0 50rem;
}

.GeneralButton:disabled {
    opacity: .2;
    cursor: default;
}

.GeneralButton:disabled:hover {
    cursor: default;
    filter: none;
}

.TranslationList {
    color: rgb(33, 28, 61);
    bottom: 13px;
    right: 5px;
    width: 70%;
    margin: auto;
}