.NavbarContainer {
    position: relative;
    width: 100vw;
    height: 5rem;
    background-color: rgba(71, 60, 76, .7);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.NavTitle {
    margin: 0 auto;
    margin-left: 1rem;
    cursor: pointer;
    color: #fefefe;
    transition: .2s ease;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 2rem;
}

h1:hover {
    filter: brightness(.9);
}

ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}

li {
    height: 100%;
    color: white;
    display: flex;
    padding: 0 4rem;
    align-items: center;
    transition: .2s ease;
}

li:hover {
    cursor: pointer;
    background-color: #ffffff21;
}

li img {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem ;
    opacity: .6;
    transition: .2s ease;
}

li:hover img {
    opacity: 1;
}